@charset "UTF-8";
@font-face {
  font-family: "NotoSansKR";
  font-style: light;
  font-weight: 300;
  src: url("../fonts/NotoSansKR-Light.woff") format("woff"), url("../fonts/NotoSansKR-Light.otf") format("openType");
}
@font-face {
  font-family: "NotoSansKR";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/NotoSansKR-Regular.woff") format("woff"), url("../fonts/NotoSansKR-Regular.otf") format("openType");
}
@font-face {
  font-family: "NotoSansKR";
  font-style: medium;
  font-weight: 500;
  src: url("../fonts/NotoSansKR-Medium.woff") format("woff"), url("../fonts/NotoSansKR-Medium.otf") format("openType");
}
@font-face {
  font-family: "NotoSansKR";
  font-style: bold;
  font-weight: 700;
  src: url("../fonts/NotoSansKR-Bold.woff") format("woff"), url("../fonts/NotoSansKR-Bold.otf") format("openType");
}
/* reset */
/* 최대 화면 크기 설정 */
/* 전역 스위치: 딱 1번만 선언 */
/* 
모바일에서만 vw를 사용할 경우 vw함수만 사용해도 무방
pc와 모바일 둘다 vw를 사용할경우 pc에서는 vw함수를
모바일에서는 vw-mo함수를 사용
*/
/* rem 설정을 위한 폰트 */
html {
  font-size: calc(100vw / 1440 * 20);
}
@media (min-width: 1441px) {
  html {
    font-size: 20px;
  }
}
@media (max-width: 720px) {
  html {
    font-size: calc(100vw / 360 * 20);
  }
}

body,
p,
h1,
h2,
h3,
h4,
h5,
h6,
ul,
ol,
li,
dl,
dt,
dd,
table,
th,
td,
form,
fieldset,
legend,
input,
textarea,
button,
select,
pre {
  -webkit-text-size-adjust: none;
  line-height: 1.5;
  font-weight: 400;
  color: #000;
  font-family: "NotoSansKR", arial, sans-serif, Arial, dotum, "돋움";
  font-size: 20px;
}

/*-webkit-text-size-adjust: none(글자크기 자동조정 방지) , auto (화면의 폭에 맞추어서 텍스트의 크기를 자동으로 조절 , 100%(폰트크기를 지정된사이즈로 변경);*/
html,
body,
div,
p,
h1,
h2,
h3,
h4,
h5,
h6,
ul,
ol,
li,
table,
tr,
td,
dl,
dt,
dd,
a,
img,
input,
button,
select,
textarea {
  margin: 0px;
  padding: 0px;
  list-style: none;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

input {
  -webkit-border-radius: 0;
}

header,
hgroup,
article,
nav,
footer,
figure,
figcaption,
canvas,
section,
main,
menu {
  display: block;
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
  color: #000;
}

img,
fieldset,
iframe {
  border: 0 none;
}

fieldset {
  width: auto;
  min-width: 0;
  max-width: none;
  border: 0;
  margin: 0;
  padding: 0;
}

legend {
  position: absolute !important;
  display: block;
  width: 0 !important;
  height: 0 !important;
  padding: 0 !important;
  margin: -1px !important;
  border: 0 !important;
  overflow: hidden !important;
  clip: rect(0 0 0 0) !important;
}
legend.focusable:active, legend.focusable:focus {
  position: static;
  height: auto;
  width: auto;
  margin: 0;
  clip: auto;
  overflow: visible;
}

img {
  max-width: 100%;
  border: 0px;
  vertical-align: top;
  -ms-touch-action: manipulation;
      touch-action: manipulation;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

caption {
  display: none;
}

button {
  cursor: pointer;
  border: 0;
  background-color: transparent;
}

/* reset */
.btn {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  border: 1px solid #ddd;
  text-align: center;
  cursor: pointer;
}
.btn.small {
  height: 1.75rem;
  padding: 0 0.5rem;
  font-size: 0.65rem;
}
.btn.medium {
  height: 2.8rem;
  padding: 0 0.65rem;
  font-size: 0.75rem;
}
.btn.large {
  height: 3.4rem;
  padding: 0 0.8rem;
  font-weight: 400;
  font-size: 1rem;
}
.btn.xlarge {
  height: 4.4rem;
  padding: 0 1rem;
  font-weight: 700;
  font-size: 1.1rem;
}
.btn.primary {
  background-color: #2546cd;
  border-color: #2546cd;
  color: #fff;
}
.btn.slightly {
  background-color: #666;
  border-color: #666;
  color: #fff;
}
.btn.lightSlightly {
  background-color: #989898;
  border-color: #989898;
  color: #fff;
}
.btn.dark {
  background-color: #222;
  border-color: #222;
  color: #fff;
}
.btn.danger {
  background-color: #e0012b;
  border-color: #e0012b;
  color: #fff;
}
.btn.warning {
  background-color: #ff9582;
  border-color: #ff9582;
  color: #fff;
}
.btn.round.small {
  border-radius: 50px;
}
.btn.round.medium {
  border-radius: 40px;
}
.btn.round.large {
  border-radius: 30px;
}
.btn.round.xlarge {
  border-radius: 30px;
}
.btn.border {
  border: 1px solid #222;
}
.btn.border.primary {
  color: #2546cd;
  border-color: #2546cd;
  background-color: transparent;
}
.btn.border.slightly {
  border-color: #888;
  color: #888;
  background-color: transparent;
}
.btn.border.lightSlightly {
  border-color: #a1a1a1;
  color: #a1a1a1;
  background-color: transparent;
}
.btn.border.dark {
  border-color: #222;
  color: #222;
  background-color: transparent;
}
.btn.border.warning {
  border-color: #ff9582;
  color: #ff9582;
  background-color: transparent;
}
.btn.border.danger {
  border-color: #e0012b;
  color: #e0012b;
  background-color: transparent;
}

.data-table table {
  table-layout: fixed;
  width: 100%;
  border-top: 1px solid #ddd;
}
.data-table th,
.data-table td {
  padding: 0.5rem 0.75rem;
  text-align: left;
  font-size: 14px;
}
@media (max-width: 720px) {
  .data-table th,
  .data-table td {
    padding: 10px 8px;
    font-size: 12px;
  }
}
.data-table th.left,
.data-table td.left {
  text-align: left;
}
.data-table th.center,
.data-table td.center {
  text-align: center;
}
.data-table th {
  background-color: #f1f1f1;
  border-bottom: 1px solid #ddd;
}
.data-table td {
  border-bottom: 1px solid #ddd;
}

.pagination {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  gap: 0.6rem;
  overflow: hidden;
  margin-top: 2rem;
}
.pagination button {
  display: block;
}
.pagination .paging {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 1.2rem;
  height: 1.2rem;
}
.pagination .paging.current .page-link {
  font-weight: 900;
  color: #2546cd;
}
.pagination .page-link {
  display: block;
  width: 100%;
  height: 100%;
  font-size: 0.75rem;
  font-weight: 700;
  color: #666666;
  letter-spacing: -0.02em;
  text-align: center;
}
.pagination .controller {
  width: 1.2rem;
  height: 1.2rem;
}
.pagination .controller .page-link {
  display: block;
  width: 100%;
  height: 100%;
  text-indent: -9999px;
  background-repeat: no-repeat;
  background-position: 50% 50%;
  background-size: cover;
}
.pagination .controller.prev .page-link {
  background-image: url("../images/components/icon-pagination-prev.png");
}
.pagination .controller.next .page-link {
  background-image: url("../images/components/icon-pagination-next.png");
}
.pagination .controller.first .page-link {
  background-image: url("../images/components/icon-pagination-first.png");
}
.pagination .controller.last .page-link {
  background-image: url("../images/components/icon-pagination-last.png");
}
.pagination .controller.disabled {
  opacity: 0.4;
}
.pagination .controller.disabled .page-link {
  pointer-events: none;
}

.input-cover {
  position: relative;
}
.input-cover.float {
  position: relative;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}
.input-cover.float.active .form-label {
  padding: 0 0.2rem;
  left: 0.8rem;
  -webkit-transform: translate3d(0, -26px, 0) scale(0.75);
          transform: translate3d(0, -26px, 0) scale(0.75);
  color: #000;
  background-color: #fff;
}
.input-cover.float.active .required {
  color: #000;
}
.input-cover.float.active .form-input[type=date] {
  color: #000;
}
.input-cover.float.active .form-input::-webkit-input-placeholder {
  color: #999;
  opacity: 1;
}
.input-cover.float.active .form-input::-moz-placeholder {
  color: #999;
  opacity: 1;
}
.input-cover.float.active .form-input:-ms-input-placeholder {
  color: #999;
  opacity: 1;
}
.input-cover.float.active .form-input:-moz-placeholder {
  color: #999;
  opacity: 1;
}
.input-cover.float.active .form-input::-ms-input-placeholder {
  color: #999;
  opacity: 1;
}
.input-cover.float.active .form-input::placeholder {
  color: #999;
  opacity: 1;
}
.input-cover.float .form-label {
  position: absolute;
  top: 0.85rem;
  left: 1rem;
  z-index: 2;
  width: auto;
  margin-bottom: 0;
  -webkit-transform: translate3d(0, 0, 0) scale(1);
          transform: translate3d(0, 0, 0) scale(1);
  -webkit-transition: -webkit-transform 0.4s cubic-bezier(0.25, 0.8, 0.25, 1);
  transition: -webkit-transform 0.4s cubic-bezier(0.25, 0.8, 0.25, 1);
  transition: transform 0.4s cubic-bezier(0.25, 0.8, 0.25, 1);
  transition: transform 0.4s cubic-bezier(0.25, 0.8, 0.25, 1), -webkit-transform 0.4s cubic-bezier(0.25, 0.8, 0.25, 1);
  -webkit-transform-origin: left top;
          transform-origin: left top;
  overflow: hidden;
  white-space: nowrap;
  -ms-text-overflow: ellipsis;
  text-overflow: ellipsis;
  background-color: #fff;
}
.input-cover.float .etc-right {
  top: 50%;
  bottom: auto;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
}
.input-cover.focus, .input-cover.open-datepicker {
  border-color: #2c599d;
}
.input-cover.focus .form-label,
.input-cover.focus .required, .input-cover.open-datepicker .form-label,
.input-cover.open-datepicker .required {
  color: #2c599d !important;
}
.input-cover.focus .form-input, .input-cover.open-datepicker .form-input {
  border-color: #2c599d;
}
.input-cover.right-space.small .form-input {
  padding-right: 2.8rem;
}
.input-cover.right-space .form-input {
  padding-right: 4.6rem;
}
.input-cover.error .icon-error {
  display: block;
}
.input-cover.error .form-input {
  padding-right: 2.5rem;
  border-color: #e0012b;
}
.input-cover .cover-inner {
  position: relative;
}
.input-cover .form-input {
  display: block;
  position: relative;
  z-index: 1;
  width: 100%;
  min-height: 2.8rem;
  line-height: 2.7rem;
  padding: 0 1rem;
  border: 1px solid #e0e0e3;
  border-radius: 0.2rem;
  font-size: 0.8rem;
  background-color: #fff;
}
.input-cover .form-input::-webkit-input-placeholder {
  color: #999;
  opacity: 1;
}
.input-cover .form-input::-moz-placeholder {
  color: #999;
  opacity: 1;
}
.input-cover .form-input:-ms-input-placeholder {
  color: #999;
  opacity: 1;
}
.input-cover .form-input:-moz-placeholder {
  color: #999;
  opacity: 1;
}
.input-cover .form-input::-ms-input-placeholder {
  color: #999;
  opacity: 1;
}
.input-cover .form-input::placeholder {
  color: #999;
  opacity: 1;
}
.input-cover .form-input:-moz-read-only, .input-cover .form-input:disabled {
  color: #999 !important;
  background-color: #fafafa;
}
.input-cover .form-input:read-only, .input-cover .form-input:disabled {
  color: #999 !important;
  background-color: #fafafa;
}
.input-cover .form-input:-moz-read-only.datepicker-input, .input-cover .form-input:disabled.datepicker-input {
  color: #000 !important;
  background-color: transparent;
}
.input-cover .form-input:read-only.datepicker-input, .input-cover .form-input:disabled.datepicker-input {
  color: #000 !important;
  background-color: transparent;
}
.input-cover .form-input:-moz-read-only.result-file-input, .input-cover .form-input:disabled.result-file-input {
  color: #000 !important;
  background-color: transparent;
}
.input-cover .form-input:read-only.result-file-input, .input-cover .form-input:disabled.result-file-input {
  color: #000 !important;
  background-color: transparent;
}
.input-cover .form-label {
  display: block;
  font-size: 0.8rem;
  margin-bottom: 0.3rem;
  color: #999;
}
.input-cover .required {
  display: inline-block;
  vertical-align: middle;
  font-size: 0.8rem;
  color: #999;
}
.input-cover .etc-right {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 0.4rem;
  position: absolute;
  z-index: 2;
  bottom: 0.75rem;
  right: 1rem;
}
.input-cover .mode-text {
  font-size: 0.8rem;
}
.input-cover .btn-type-change {
  width: 1.2rem;
  height: 1.2rem;
  background-image: url("../images/icon/icon-eye-off.png");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: 0 0;
  text-indent: -9999px;
  color: transparent;
}
.input-cover .btn-type-change.type-text {
  background-image: url("../images/icon/icon-eye-on.png");
}
.input-cover .file-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 0.4rem;
  position: relative;
}
.input-cover .file-wrapper .file-input {
  position: absolute !important;
  display: block;
  width: 0 !important;
  height: 0 !important;
  padding: 0 !important;
  margin: -1px !important;
  border: 0 !important;
  overflow: hidden !important;
  clip: rect(0 0 0 0) !important;
  top: 0;
  right: 0;
  z-index: 1;
}
.input-cover .file-wrapper .file-input.focusable:active, .input-cover .file-wrapper .file-input.focusable:focus {
  position: static;
  height: auto;
  width: auto;
  margin: 0;
  clip: auto;
  overflow: visible;
}
.input-cover .file-wrapper .file-input:focus-visible + .btn {
  outline: 2px solid #000;
}
.input-cover .file-wrapper .btn {
  -ms-flex-negative: 0;
      flex-shrink: 0;
  width: 100%;
  max-width: 6rem;
  font-size: 0.8rem;
}
.input-cover.disable-active.float .form-label {
  padding: 0 0.2rem;
  left: 0.8rem;
  -webkit-transform: translate3d(0, -26px, 0) scale(0.75);
          transform: translate3d(0, -26px, 0) scale(0.75);
  color: #999;
}
.input-cover.disable-active .required {
  color: #999;
}

.form-btn-with-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 0.4rem;
}
.form-btn-with-container .input-cover,
.form-btn-with-container .selectric-container {
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
}
.form-btn-with-container .btn {
  width: 100%;
  -ms-flex-negative: 0;
      flex-shrink: 0;
}
.form-btn-with-container.medium .btn {
  max-width: 6rem;
}

.selector-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  row-gap: 0.5rem;
}
.selector-wrapper.horizontal {
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-column-gap: 1rem;
     -moz-column-gap: 1rem;
          column-gap: 1rem;
}

.selector-cover {
  line-height: 1;
  font-size: 0;
}
.selector-cover input {
  position: absolute;
  position: absolute !important;
  display: block;
  width: 0 !important;
  height: 0 !important;
  padding: 0 !important;
  margin: -1px !important;
  border: 0 !important;
  overflow: hidden !important;
  clip: rect(0 0 0 0) !important;
}
.selector-cover input.focusable:active, .selector-cover input.focusable:focus {
  position: static;
  height: auto;
  width: auto;
  margin: 0;
  clip: auto;
  overflow: visible;
}
.selector-cover input:focus-visible + .selector-text {
  outline: auto;
  outline-color: -webkit-focus-ring-color;
}
.selector-cover .label {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  position: relative;
  cursor: pointer;
}
.selector-cover .selector-text {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  position: relative;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 0.8rem;
  word-break: keep-all;
}
.selector-cover .selector {
  position: absolute;
  top: 0;
  left: 0;
  border: 1px solid #e0e0e3;
  background-color: transparent;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}
.selector-cover .selector:after {
  display: block;
  content: "";
  position: absolute;
}
.selector-cover.checkbox .selector {
  border-radius: 0.2rem;
}
.selector-cover.checkbox .selector:after {
  display: none;
  left: calc(50% - 0.25rem);
  top: 50%;
  width: 0.25rem;
  height: 0.5rem;
  border: solid #000;
  border-width: 0 2px 2px 0;
  -webkit-transform: rotate(45deg) translate(-50%, -50%);
          transform: rotate(45deg) translate(-50%, -50%);
}
.selector-cover.checkbox.round .selector-text {
  padding-left: 1.6rem;
  min-height: 1.2rem;
}
.selector-cover.checkbox.round .selector {
  width: 1.2rem;
  height: 1.2rem;
  border: 0;
  border-radius: 0;
  background-repeat: no-repeat;
  background-position: 50% 50%;
  background-size: cover;
  background-image: url("../images/components/icon-checkbox-round-off.png");
}
.selector-cover.checkbox.round input:checked + .selector-text .selector {
  background-image: url("../images/components/icon-checkbox-round-on.png");
}
.selector-cover.checkbox.round input:checked + .selector-text .selector:after {
  display: none;
}
.selector-cover.checkbox.square .selector-text {
  padding-left: 1.6rem;
  min-height: 1.2rem;
}
.selector-cover.checkbox.square .selector {
  width: 1.2rem;
  height: 1.2rem;
  border: 0;
  border-radius: 0;
  background-repeat: no-repeat;
  background-position: 50% 50%;
  background-size: cover;
  background-image: url("../images/components/icon-checkbox-square-off.png");
}
.selector-cover.checkbox.square input:checked + .selector-text .selector {
  background-image: url("../images/components/icon-checkbox-square-on.png");
}
.selector-cover.checkbox.square input:checked + .selector-text .selector:after {
  display: none;
}
.selector-cover.checkbox.solo .selector-text {
  padding-left: 1.2rem;
}
.selector-cover.radio input:checked + .selector-text .selector {
  background-color: #fff;
  border-color: #000;
}
.selector-cover.radio input:checked + .selector-text .selector:after {
  background-color: #000;
}
.selector-cover.radio .selector-text {
  padding-left: 1.4rem;
  min-height: 1rem;
}
.selector-cover.radio .selector {
  height: 1rem;
  width: 1rem;
  border-radius: 50%;
}
.selector-cover.radio .selector:after {
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  position: absolute;
  top: 50%;
  left: 50%;
  width: 0.4rem;
  height: 0.4rem;
  border-radius: 50%;
  background-color: #fff;
}
.selector-cover.radio.solo .selector-text {
  padding-left: 1.6rem;
}

.form-guide-text {
  display: block;
  font-weight: 300;
  margin-top: 0.6rem;
  font-size: 0.75rem;
}
.form-guide-text + .form-guide-text {
  margin-top: 0.2rem;
}

.form-textarea {
  display: block;
  height: 6rem;
  padding: 0.6rem 1rem;
  border: 1px solid #ddd;
  border-radius: 0.4rem;
  font-size: 0.8rem;
  resize: none;
  overflow: auto;
}
.form-textarea::-webkit-input-placeholder {
  color: #999;
  opacity: 1;
}
.form-textarea::-moz-placeholder {
  color: #999;
  opacity: 1;
}
.form-textarea:-ms-input-placeholder {
  color: #999;
  opacity: 1;
}
.form-textarea:-moz-placeholder {
  color: #999;
  opacity: 1;
}
.form-textarea::-ms-input-placeholder {
  color: #999;
  opacity: 1;
}
.form-textarea::placeholder {
  color: #999;
  opacity: 1;
}
.form-textarea.error {
  border-color: #2546cd;
}
.form-textarea.sm {
  height: 4rem;
  font-size: 0.7rem;
}
.form-textarea.md {
  height: 6rem;
}
.form-textarea.lg {
  height: 10rem;
}
.form-textarea.xl {
  height: 15rem;
}
.form-textarea.full {
  width: 100% !important;
}
.form-textarea:-moz-read-only, .form-textarea:disabled {
  background-color: #f1f1f1;
}
.form-textarea:read-only, .form-textarea:disabled {
  background-color: #f1f1f1;
}

.length-check-cover .count {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  margin-top: 0.6rem;
  font-size: 0.7rem;
  color: #999;
}

.selectric-container {
  position: relative;
}
.selectric-container.active.init-before .selectric .label {
  color: #999;
}
.selectric-container.active.open .select-label {
  z-index: 5;
  color: #2c599d;
}
.selectric-container.active.open .select-label .required {
  color: #2c599d;
}
.selectric-container.active .select-label {
  z-index: 3;
  left: 0.8rem;
  -webkit-transform: translate3d(0, -8px, 0) scale(0.75);
          transform: translate3d(0, -8px, 0) scale(0.75);
  padding: 0 0.2rem;
  background-color: #fff;
}
.selectric-container.active .selectric .label {
  color: #000;
}
.selectric-container.disabled .select-label {
  color: #999;
  background-color: transparent;
}
.selectric-container.disabled .select-label .required {
  color: #999;
}
.selectric-container.error .selectric {
  border-color: #e0012b;
}
.selectric-container .selectric-wrapper {
  position: relative;
  z-index: 2;
}
.selectric-container .selectric {
  border: 1px solid #e0e0e3;
  padding-left: 1rem;
  padding-right: 2.6rem;
  border-radius: 0.2rem;
  background-color: #fff;
}
.selectric-container .selectric .button {
  position: absolute;
  top: 50%;
  right: 1rem;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  width: 1rem;
  height: 1rem;
  text-indent: -9999px;
  background-color: transparent;
}
.selectric-container .selectric .button:after {
  width: 1rem;
  height: 1rem;
  border: 0;
  background: url("../images/components/icon-selectbox-arrow.png") no-repeat 0 0;
  background-size: cover;
}
.selectric-container .selectric .label {
  margin: 0;
  color: #999;
}
.selectric-container .selectric .icon-error {
  display: none;
  width: 1.2rem;
  height: 1.2rem;
  position: absolute;
  top: 50%;
  right: 2.6rem;
  z-index: 2;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  background: url("../images/icon/icon-alert-triangle-red-24x24.png") no-repeat 0 0;
  background-size: cover;
}
.selectric-container .selectric-above .selectric-items {
  margin-bottom: 0.35rem;
}
.selectric-container .required {
  display: inline-block;
  font-size: 0.8rem;
  vertical-align: middle;
  color: #999;
}
.selectric-container .selectric-open {
  z-index: 4;
}
.selectric-container .selectric-open .selectric {
  border-color: #2c599d;
}
.selectric-container .selectric-open .selectric .label,
.selectric-container .selectric-open .selectric .required {
  color: #2c599d;
}
.selectric-container .selectric-open .button {
  overflow: hidden;
}
.selectric-container .selectric-open .button:after {
  -webkit-transform: rotate(180deg);
          transform: rotate(180deg);
}
.selectric-container .selectric-disabled {
  opacity: 1;
}
.selectric-container .selectric-disabled .selectric {
  background-color: #fafafa;
}
.selectric-container .selectric-disabled .selectric .label {
  color: #999;
}
.selectric-container .selectric-first-show .selectric-scroll li:first-child {
  display: block;
}
.selectric-container .selectric-scroll li:first-child {
  display: none;
}
.selectric-container .select-label {
  position: absolute;
  top: 0;
  left: 1rem;
  z-index: 1;
  -webkit-transform: translate3d(0, 0, 0) scale(1);
          transform: translate3d(0, 0, 0) scale(1);
  -webkit-transition: -webkit-transform 0.4s cubic-bezier(0.25, 0.8, 0.25, 1);
  transition: -webkit-transform 0.4s cubic-bezier(0.25, 0.8, 0.25, 1);
  transition: transform 0.4s cubic-bezier(0.25, 0.8, 0.25, 1);
  transition: transform 0.4s cubic-bezier(0.25, 0.8, 0.25, 1), -webkit-transform 0.4s cubic-bezier(0.25, 0.8, 0.25, 1);
  -webkit-transform-origin: left top;
          transform-origin: left top;
  font-size: 0.8rem;
  color: #000;
  overflow: hidden;
  white-space: nowrap;
  -ms-text-overflow: ellipsis;
  text-overflow: ellipsis;
}
.selectric-container .select-label .required {
  color: #000;
}
.selectric-container .selectric-items {
  max-height: 11.25rem;
  overflow: auto;
  border-radius: 5px;
  border: 0;
  background-color: #fff;
  -webkit-box-shadow: 0px 4px 8px 0px rgba(0, 0, 0, 0.1607843137);
          box-shadow: 0px 4px 8px 0px rgba(0, 0, 0, 0.1607843137);
}
.selectric-container .selectric-items li.selected {
  background-color: #2c599d !important;
  color: #fff !important;
}
.selectric-container .selectric-items li:hover {
  background-color: #fafafa;
}
.selectric-container .selectric-small .label {
  height: 1.5rem;
  line-height: 1.5rem;
  font-size: 0.7rem;
}
.selectric-container .selectric-small .selectric-items li {
  padding: 0.6rem;
  font-weight: 300;
  font-size: 0.7rem;
}
.selectric-container .selectric-medium .label {
  height: 2.7rem;
  line-height: 2.7rem;
  font-size: 0.8rem;
}
.selectric-container .selectric-medium .selectric-items li {
  padding: 0.85rem 1rem;
  font-size: 0.8rem;
}
.selectric-container .selectric-large .label {
  height: 2.6rem;
  line-height: 2.6rem;
  font-size: 0.9rem;
}
.selectric-container .selectric-large .selectric-items li {
  padding: 0.8rem 0.9rem;
  font-weight: 300;
  font-size: 0.9rem;
}

.select-box-container .form-label {
  display: block;
  padding-bottom: 0.15rem;
  font-size: 0.8rem;
}
.select-box-container .form-label .required {
  display: inline-block;
  margin-left: 0.15rem;
  font-weight: 700;
  font-size: 0.8rem;
  color: #2546cd;
  vertical-align: middle;
}
.select-box-container .form-select {
  width: 100%;
  padding-right: 1rem;
  border: 0;
  border-bottom: 1px solid #dbdee5;
  color: #000;
  background: url("../images/components/icon-selectbox-arrow.svg") no-repeat 0 0;
  background-position: center right;
  background-size: 0.5rem 0.5rem;
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
}
.select-box-container.small .form-select {
  height: 1.6rem;
  line-height: 1.6rem;
  font-size: 0.65rem;
}
.select-box-container.small .form-select option {
  font-size: 0.65rem;
}
.select-box-container.medium .form-select {
  height: 2.1rem;
  line-height: 2.1rem;
  font-size: 0.8rem;
}
.select-box-container.medium .form-select option {
  font-size: 0.8rem;
}
.select-box-container.large .form-select {
  height: 2.6rem;
  line-height: 2.6rem;
  font-size: 0.9rem;
}
.select-box-container.large .form-select option {
  font-size: 0.9rem;
}
.select-box-container.active.float .form-label {
  -webkit-transform: translate3d(0, -20px, 0) scale(0.8);
          transform: translate3d(0, -20px, 0) scale(0.8);
}
.select-box-container.float {
  position: relative;
}
.select-box-container.float .form-label {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  z-index: 1;
  width: 100%;
  -webkit-transform: translate3d(0, 0, 0) scale(1);
          transform: translate3d(0, 0, 0) scale(1);
  -webkit-transition: -webkit-transform 0.4s cubic-bezier(0.25, 0.8, 0.25, 1);
  transition: -webkit-transform 0.4s cubic-bezier(0.25, 0.8, 0.25, 1);
  transition: transform 0.4s cubic-bezier(0.25, 0.8, 0.25, 1);
  transition: transform 0.4s cubic-bezier(0.25, 0.8, 0.25, 1), -webkit-transform 0.4s cubic-bezier(0.25, 0.8, 0.25, 1);
  -webkit-transform-origin: left top;
          transform-origin: left top;
  font-size: 0.9rem;
  color: #000;
  overflow: hidden;
  white-space: nowrap;
  -ms-text-overflow: ellipsis;
  text-overflow: ellipsis;
}
.select-box-container.float .form-select {
  position: relative;
  z-index: 2;
  background-color: #fff;
}
.select-box-container.float .form-select option:first-child {
  display: none;
}

.font.warning {
  color: #ff9582;
}
.font.slightly {
  color: #888;
}
.font.primary {
  color: #2546cd;
}
.font.danger {
  color: #e0012b;
}
.font.dark {
  color: #222;
}
.font.lightSlightly {
  color: #a1a1a1;
}

.switch-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.switch-container .switch-icon {
  position: relative;
}
.switch-container .switch-input {
  position: absolute !important;
  display: block;
  width: 0 !important;
  height: 0 !important;
  padding: 0 !important;
  margin: -1px !important;
  border: 0 !important;
  overflow: hidden !important;
  clip: rect(0 0 0 0) !important;
}
.switch-container .switch-input.focusable:active, .switch-container .switch-input.focusable:focus {
  position: static;
  height: auto;
  width: auto;
  margin: 0;
  clip: auto;
  overflow: visible;
}
.switch-container .switch-input:focus-visible + .switch-label {
  outline: auto;
  outline-color: -webkit-focus-ring-color;
}
.switch-container .switch-input:checked + .switch-label .switch-button {
  background: #2546cd;
}
.switch-container .switch-input:checked + .switch-label .btn-on-off {
  left: 0.85rem;
}
.switch-container .switch-label {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.switch-container .switch-button {
  -webkit-transition: 0.2s;
  transition: 0.2s;
  display: block;
  width: 1.6rem;
  height: 0.9rem;
  position: relative;
  cursor: pointer;
  background: #999;
  border-radius: 50px;
}
.switch-container .btn-on-off {
  -webkit-transition: 0.2s;
  transition: 0.2s;
  position: absolute;
  top: 50%;
  left: 0.15rem;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  display: inline-block;
  width: 0.6rem;
  height: 0.6rem;
  border-radius: 50%;
  background: #fff;
  text-indent: -9999px;
}
.switch-container .switch-text {
  margin-left: 0.4rem;
  font-size: 0.75rem;
  cursor: pointer;
}

.rating-select-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.rating-select-container input {
  position: absolute !important;
  display: block;
  width: 0 !important;
  height: 0 !important;
  padding: 0 !important;
  margin: -1px !important;
  border: 0 !important;
  overflow: hidden !important;
  clip: rect(0 0 0 0) !important;
}
.rating-select-container input.focusable:active, .rating-select-container input.focusable:focus {
  position: static;
  height: auto;
  width: auto;
  margin: 0;
  clip: auto;
  overflow: visible;
}
.rating-select-container label {
  -webkit-transition: 0.1s;
  transition: 0.1s;
  display: block;
  position: relative;
  width: 2.3rem;
  height: 2.2rem;
  margin-left: 0.4rem;
  background-repeat: no-repeat;
  background-position: 0 0;
  background-size: cover;
  background-image: url("../images/components/icon-star-empty.svg");
  text-indent: -9999px;
  cursor: pointer;
}
.rating-select-container label.checked {
  background-image: url("../images/components/icon-star-full.svg");
}
.rating-select-container label:nth-of-type(1) {
  margin-left: 0;
}

.layer-popup {
  visibility: hidden;
  opacity: 0;
  -webkit-transition: opacity 0.3s;
  transition: opacity 0.3s;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 999;
  width: 100%;
  height: 100%;
  padding: 1rem;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}
.layer-popup.open {
  visibility: visible;
  opacity: 1;
}
.layer-popup.all-show {
  opacity: 1;
  visibility: visible;
  width: auto;
  height: auto;
  position: static;
  border-top: 2px solid #000;
}
.layer-popup .popup-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  position: relative;
  width: 100%;
  max-height: 100%;
  border-radius: 1rem;
  overflow: hidden;
  -webkit-box-shadow: 0px 8px 8px 0px rgba(0, 0, 0, 0.2509803922);
          box-shadow: 0px 8px 8px 0px rgba(0, 0, 0, 0.2509803922);
}
.layer-popup .popup-container.medium {
  max-width: 32rem;
}
.layer-popup .popup-container.small {
  max-width: 23rem;
}
.layer-popup .popup-header {
  -ms-flex-negative: 0;
      flex-shrink: 0;
  position: relative;
  background-color: #fff;
}
.layer-popup .popup-header .btn-close {
  position: absolute;
  top: 1rem;
  right: 1rem;
  z-index: 2;
  width: 1.5rem;
  height: 1.5rem;
  text-indent: -9999px;
  background-repeat: no-repeat;
  background-position: 50% 50%;
  background-size: 1.15rem 1.15rem;
  background-image: url("../images/icon/icon-close-bk-23x23.png");
}
.layer-popup .popup-title {
  padding: 1rem;
  text-align: center;
}
.layer-popup .popup-title strong {
  font-size: 1rem;
}
.layer-popup .popup-content {
  height: 100%;
  overflow: auto;
  position: relative;
  background-color: #fff;
}
.layer-popup .popup-inner {
  padding: 2rem;
  position: relative;
}
.layer-popup .popup-footer {
  -ms-flex-negative: 0;
      flex-shrink: 0;
  border-radius: 0 0 1rem 1rem;
  overflow: hidden;
}
.layer-popup .popup-footer .btn-area .btn {
  width: 100%;
  height: 3rem;
  line-height: 3rem;
  text-align: center;
  border: 0;
  font-weight: 700;
  font-size: 0.9rem;
  color: #fff;
}
.layer-popup .popup-footer .btn-area .btn-close {
  background-color: #666;
}
.layer-popup .popup-footer .btn-area .btn-ok {
  background-color: #2546cd;
}
.layer-popup .popup-footer .btn-area.half {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.layer-popup .popup-footer .btn-area.half .btn {
  width: 50%;
}
.layer-popup.full-scroll {
  display: block;
  overflow: auto;
  text-align: center;
  font-size: 0;
}
.layer-popup.full-scroll:before {
  display: inline-block;
  content: "";
  height: 100%;
  vertical-align: middle;
}
.layer-popup.full-scroll .popup-container {
  display: inline-block;
  vertical-align: middle;
  position: relative;
  margin: 0 auto;
  max-height: none;
  border-radius: 1rem;
  font-size: initial;
}
.layer-popup.full-scroll .popup-content {
  height: auto;
  position: relative;
  overflow: visible;
  text-align: left;
}

.layer-popup-dim {
  opacity: 0;
  visibility: hidden;
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 998;
  background-color: rgba(0, 0, 0, 0.5);
}
.layer-popup-dim.show {
  -webkit-animation: dimShow 0.3s forwards;
          animation: dimShow 0.3s forwards;
}

@-webkit-keyframes dimShow {
  0% {
    opacity: 0;
    visibility: hidden;
  }
  100% {
    opacity: 1;
    visibility: visible;
  }
}

@keyframes dimShow {
  0% {
    opacity: 0;
    visibility: hidden;
  }
  100% {
    opacity: 1;
    visibility: visible;
  }
}
.scroll-animate {
  opacity: 0;
}
.scroll-animate.show {
  opacity: 1;
}

@-webkit-keyframes fade-in-bottom {
  0% {
    -webkit-transform: translateY(50px);
    transform: translateY(50px);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
    opacity: 1;
  }
}
@keyframes fade-in-bottom {
  0% {
    -webkit-transform: translateY(50px);
    transform: translateY(50px);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
    opacity: 1;
  }
}
@-webkit-keyframes fade-in-right {
  0% {
    -webkit-transform: translateX(50px);
    transform: translateX(50px);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateX(0);
    transform: translateX(0);
    opacity: 1;
  }
}
@keyframes fade-in-right {
  0% {
    -webkit-transform: translateX(50px);
    transform: translateX(50px);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateX(0);
    transform: translateX(0);
    opacity: 1;
  }
}
@-webkit-keyframes shake-horizontal {
  0%, 100% {
    -webkit-transform: translateX(0);
    transform: translateX(0);
  }
  10%, 30%, 50%, 70% {
    -webkit-transform: translateX(-10px);
    transform: translateX(-10px);
  }
  20%, 40%, 60% {
    -webkit-transform: translateX(10px);
    transform: translateX(10px);
  }
  80% {
    -webkit-transform: translateX(8px);
    transform: translateX(8px);
  }
  90% {
    -webkit-transform: translateX(-8px);
    transform: translateX(-8px);
  }
}
@keyframes shake-horizontal {
  0%, 100% {
    -webkit-transform: translateX(0);
    transform: translateX(0);
  }
  10%, 30%, 50%, 70% {
    -webkit-transform: translateX(-10px);
    transform: translateX(-10px);
  }
  20%, 40%, 60% {
    -webkit-transform: translateX(10px);
    transform: translateX(10px);
  }
  80% {
    -webkit-transform: translateX(8px);
    transform: translateX(8px);
  }
  90% {
    -webkit-transform: translateX(-8px);
    transform: translateX(-8px);
  }
}
@-webkit-keyframes fade-in-left {
  0% {
    -webkit-transform: translateX(-50px);
    transform: translateX(-50px);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateX(0);
    transform: translateX(0);
    opacity: 1;
  }
}
@keyframes fade-in-left {
  0% {
    -webkit-transform: translateX(-50px);
    transform: translateX(-50px);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateX(0);
    transform: translateX(0);
    opacity: 1;
  }
}
.event-scroll-animate {
  opacity: 0;
}
.event-scroll-animate.show {
  opacity: 1;
}

@-webkit-keyframes fade-in-top {
  0% {
    -webkit-transform: translateY(-50px);
    transform: translateY(-50px);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
    opacity: 1;
  }
}
@keyframes fade-in-top {
  0% {
    -webkit-transform: translateY(-50px);
    transform: translateY(-50px);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
    opacity: 1;
  }
}
.fade-in-top {
  -webkit-animation: fade-in-top 0.6s cubic-bezier(0.39, 0.575, 0.565, 1) both;
  animation: fade-in-top 0.6s cubic-bezier(0.39, 0.575, 0.565, 1) both;
}

.fade-in-bottom {
  -webkit-animation: fade-in-bottom 0.6s cubic-bezier(0.39, 0.575, 0.565, 1) both;
  animation: fade-in-bottom 0.6s cubic-bezier(0.39, 0.575, 0.565, 1) both;
}

.fade-in-right {
  -webkit-animation: fade-in-right 0.6s cubic-bezier(0.39, 0.575, 0.565, 1) both;
  animation: fade-in-right 0.6s cubic-bezier(0.39, 0.575, 0.565, 1) both;
}

.fade-in-left {
  -webkit-animation: fade-in-left 0.6s cubic-bezier(0.39, 0.575, 0.565, 1) both;
  animation: fade-in-left 0.6s cubic-bezier(0.39, 0.575, 0.565, 1) both;
}

.shake-horizontal {
  -webkit-animation: shake-horizontal 0.6s cubic-bezier(0.455, 0.03, 0.515, 0.955) both;
  animation: shake-horizontal 0.6s cubic-bezier(0.455, 0.03, 0.515, 0.955) both;
}

::-webkit-scrollbar {
  width: 8px;
  height: 4px;
}

::-webkit-scrollbar-thumb {
  border-radius: 10px;
  background-color: rgba(0, 0, 0, 0.1); /*스크롤바의 색상*/
}

::-webkit-scrollbar-track {
  border-radius: 10px;
  background-color: #ddd; /*스크롤바 트랙 색상*/
}

.swiper-container {
  position: relative;
  overflow: hidden;
}
.swiper-container .swiper-button-next,
.swiper-container .swiper-button-prev {
  width: 70px;
  height: 70px;
  text-indent: -9999px;
  background-repeat: no-repeat;
  background-position: 50% 50%;
  background-size: cover;
}
.swiper-container .swiper-button-next:after,
.swiper-container .swiper-button-prev:after {
  display: none;
}
.swiper-container .swiper-button-next {
  -webkit-transform: rotate(180deg);
          transform: rotate(180deg);
  background-image: url("../images/icon/icon-slider-arrow-next-bk-70x70.png");
}
.swiper-container .swiper-button-prev {
  background-image: url("../images/icon/icon-slider-arrow-prev-bk-70x70.png");
}
.swiper-container .swiper-pagination {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  bottom: 0 !important;
  margin-top: 20px;
}
.swiper-container .swiper-pagination .swiper-pagination-bullet {
  display: block;
}

html,
body {
  -webkit-overflow-scrolling: touch;
}
html.scroll-disable,
body.scroll-disable {
  overflow: hidden !important;
}
@media (min-width: 961px) {
  html.scroll-disable.responsive-scroll,
  body.scroll-disable.responsive-scroll {
    overflow: visible !important;
  }
}

.accordion-list {
  overflow: hidden;
}
.accordion-list.active .accordion-header:after {
  -webkit-transform: translateY(-50%) rotate(180deg);
          transform: translateY(-50%) rotate(180deg);
}
.accordion-list .accordion-header {
  display: block;
  position: relative;
  width: 100%;
  padding: 1rem 3rem 1rem 1rem;
  text-align: left;
}
.accordion-list .accordion-header:after {
  display: block;
  content: "";
  width: 1rem;
  height: 1rem;
  position: absolute;
  top: 50%;
  right: 1.2rem;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  background-image: url("../images/icon/icon-arrow-down-bk-18x18.png");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: 50% 50%;
}
.accordion-list .accordion-body {
  display: none;
}

.mobile-show {
  display: none;
}

@media (max-width: 720px) {
  .pc-show {
    display: none;
  }
  .mobile-show {
    display: block;
  }
}
.ui-tab-content {
  display: none;
}
.ui-tab-content:nth-of-type(1) {
  display: block;
}

.tui-datetime-input {
  width: 100%;
  height: auto;
}

.tui-datepicker {
  z-index: 10;
  font-size: 0.7rem;
}
.tui-datepicker.tui-hidden {
  display: none;
}
.tui-datepicker * {
  font-size: inherit;
}
.tui-datepicker .tui-datepicker-footer .tui-timepicker {
  padding: 10px;
}
.tui-datepicker .tui-timepicker-select {
  width: 64px;
  height: 32px;
}
.tui-datepicker .tui-calendar-sat {
  color: #1c74bc;
}
.tui-datepicker .tui-calendar-sun {
  color: #fc2222;
}
.tui-datepicker .tui-is-blocked {
  color: #ddd !important;
}
.tui-datepicker .tui-calendar-today {
  font-weight: bold;
  background-color: transparent;
  border: 1px solid rgba(37, 70, 205, 0.4);
  border-radius: 50%;
  color: #2546cd;
}
.tui-datepicker .tui-calendar-today:hover {
  background-color: #fff;
}
.tui-datepicker .tui-is-selectable.tui-is-selected,
.tui-datepicker .tui-is-selectable.tui-is-selected {
  background-color: #2546cd !important;
  border: 0 !important;
  border-radius: 0 !important;
  color: #fff !important;
}

.tui-timepicker-select {
  font-size: 0.7rem !important;
}

.tui-datepicker-input {
  border: 0;
}
.tui-datepicker-input .datepicker-input {
  font-size: 0.75rem;
}
.tui-datepicker-input .tui-ico-date {
  right: 0.6rem;
  bottom: 0.5rem;
  background-position: -17px -14px !important;
}

.tui-datepicker-type-date {
  width: 245px;
}

.tui-calendar {
  width: 100%;
}
.tui-calendar th,
.tui-calendar td {
  height: 35px;
}

.tui-datepicker-body .tui-timepicker,
.tui-datepicker-footer .tui-timepicker {
  width: 100%;
}

#content .fr-view html,
#content .fr-view body,
#content .fr-view p,
#content .fr-view h1,
#content .fr-view h2,
#content .fr-view h3,
#content .fr-view h4,
#content .fr-view h5,
#content .fr-view h6,
#content .fr-view ul,
#content .fr-view ol,
#content .fr-view li,
#content .fr-view table,
#content .fr-view tr,
#content .fr-view td,
#content .fr-view dl,
#content .fr-view dt,
#content .fr-view dd,
#content .fr-view a,
#content .fr-view img,
#content .fr-view input,
#content .fr-view button,
#content .fr-view select,
#content .fr-view textarea {
  list-style: revert-layer;
  font-family: "NotoSansKR", arial, sans-serif, Arial, dotum, "돋움";
  font-size: revert;
  font-weight: revert;
  line-height: revert;
  -webkit-text-decoration: revert;
          text-decoration: revert;
  letter-spacing: revert;
}
#content .fr-view h1 {
  font-size: 2em;
}
#content .fr-view ol,
#content .fr-view ul {
  -webkit-padding-start: 0.75rem;
          padding-inline-start: 0.75rem;
}

body {
  /* 프로젝트 마무리후 비밀번호 삽입시 주석 제거 */
}

html,
body {
  height: 100%;
  overscroll-behavior: none;
}

.section-inner {
  width: 100%;
  margin: 0 auto;
  padding: 0px 1rem;
  max-width: 62rem;
}

#header {
  -ms-flex-negative: 0;
      flex-shrink: 0;
}

.mobile-navigation-menu {
  width: 1.4rem;
  height: 1.1rem;
  position: relative;
  cursor: pointer;
}
.mobile-navigation-menu .icon {
  display: block;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  position: absolute;
  top: 50%;
  left: 50%;
  width: 100%;
  height: 2px;
  background-color: #666;
  -webkit-transition: 0.25s;
  transition: 0.25s;
}
.mobile-navigation-menu .icon:before, .mobile-navigation-menu .icon:after {
  -webkit-transition: 0.25s;
  transition: 0.25s;
  display: block;
  content: "";
  width: 100%;
  height: 2px;
  position: absolute;
  left: 0;
  background-color: #666;
}
.mobile-navigation-menu .icon:before {
  top: -8px;
}
.mobile-navigation-menu .icon:after {
  top: 8px;
}
.mobile-navigation-menu.active .icon {
  background-color: transparent;
}
.mobile-navigation-menu.active .icon:before {
  top: 0;
  -webkit-transform: rotate(135deg);
          transform: rotate(135deg);
}
.mobile-navigation-menu.active .icon:after {
  top: 0;
  -webkit-transform: rotate(-135deg);
          transform: rotate(-135deg);
}

#contentWrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  max-width: 1920px;
  margin: 0 auto;
  min-height: 100dvh;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

#content {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  width: 100%;
}

#footer {
  -ms-flex-negative: 0;
      flex-shrink: 0;
}

#content {
  font-size: 2rem;
}

@media (max-width: 720px) {
  #content {
    font-size: 1rem;
  }
}