<!DOCTYPE html>
<html lang="ko">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no, maximum-scale=1.0" />
  <meta name="title" content="" />
  <meta name="description" content="" />
  <meta name="keywords" content="" />
  <meta property="og:title" content="" />
  <meta property="og:type" content="website" />
  <meta property="og:url" content="" />
  <meta property="og:image" content="" />
  <link rel="icon" href="../../../resources/images/favicon.png" />
  <link rel="stylesheet" href="../../../resources/plugins/swiper/swiper-bundle.min.css" />
  <link rel="stylesheet" href="../../../resources/plugins/selectric/selectric.css" />
  <link rel="stylesheet" href="../../../resources/plugins/datepicker/tui-time-picker.css" />
  <link rel="stylesheet" href="../../../resources/plugins/datepicker/tui-date-picker.css" />
  <link rel="stylesheet" href="../../../resources/plugins/aos/aos.css" />
  <link rel="stylesheet" href="../../../resources/css/style.css" />
  <script src="../../../resources/plugins/jquery-3.7.1.min.js"></script>
  <script src="../../../resources/plugins/swiper/swiper-bundle.min.js"></script>
  <script src="../../../resources/plugins/selectric/jquery.selectric.js"></script>
  <script src="../../../resources/plugins/gsap/gsap.min.js"></script>
  <script src="../../../resources/plugins/aos/aos.js"></script>
  <script src="../../../resources/plugins/datepicker/tui-time-picker.js"></script>
  <script src="../../../resources/plugins/datepicker/tui-date-picker.js"></script>
  <script src="../../../resources/js/common-ui.js"></script>
  <title>프로젝트 제목</title>

</head>

<body>
  <div id="container" class="popup-list-container">
    <div class="section-inner">
      <h1>팝업 모음</h1>
      <div class="notice">
        <ul>
          <li><strong>* 프로젝트의 모든 팝업을 확인할수 있는 페이지 입니다.</strong></li>
          <li>* 팝업 열기 함수 - <strong style="color: #d8027d">layerPopup.openPopup('팝업아이디')</strong></li>
          <li>* 특정 팝업 닫기 함수 - <strong style="color: #d8027d">layerPopup.closePopup('팝업아이디')</strong></li>
          <li>* 전체 팝업 닫기 함수 - <strong style="color: #d8027d">layerPopup.closeAllPopup()</strong></li>
          <li>
            * dim을 눌렀을때 팝업이 닫히지 않게끔 하기위해서<br />
              두번째 인자로 true값을 줍니다.<strong style="color: #d8027d">layerPopup.openPopup('팝업아이디', true)</strong>
          </li>
        </ul>
      </div>
      <div class="switch-container" style="margin-bottom: 20px">
        <div class="switch-icon">
          <input type="checkbox" id="popupTypeChange" class="switch-input" />
          <label for="popupTypeChange" class="switch-label">
            <div class="switch-button">
              <span class="btn-on-off">on/off 버튼</span>
            </div>
            <strong class="switch-text">팝업 전체 펼쳐 보기</strong>
          </label>
        </div>
      </div>
      <div class="list-container">
        <div class="list-item">
          <h2 class="list-type">팝업 타입</h2>
          <div class="list-row">
            <div class="name">내부스크롤 팝업</div>
            <button type="button" class="btn small primary" onclick="layerPopup.openPopup('layerPopup01', true, this)">확인</button>
          </div>
          <div class="list-row">
            <div class="name">풀스크롤 팝업</div>
            <button type="button" class="btn small primary" onclick="layerPopup.openPopup('fullScrollPopup', true, this)">확인</button>
          </div>
        </div>
        <div class="list-item">
          <h2 class="list-type">공통 팝업</h2>
          <div class="list-row">
            <div class="name">alert 팝업</div>
            <button type="button" class="btn small primary" onclick="layerPopup.openPopup('systemAlertPopup', true, this)">확인</button>
          </div>
          <div class="list-row">
            <div class="name">confirm 팝업</div>
            <button type="button" class="btn small primary" onclick="layerPopup.openPopup('systemConfirmPopup', true, this)">확인</button>
          </div>
        </div>
      </div>
    </div>
  </div>

  <!-- alert 팝업 -->
  <div class="layer-popup full-scroll" id="systemAlertPopup">
    <div class="popup-container small">
      <div class="popup-header">
        <button type="button" class="btn-close popup-close">닫기</button>
      </div>
      <div class="popup-content">
        <div class="popup-inner">alert 팝업</div>
      </div>
      <div class="popup-footer">
        <div class="btn-area">
          <button type="button" class="btn btn-ok">완료</button>
        </div>
      </div>
    </div>
  </div>

  <!-- confirm 팝업 -->
  <div class="layer-popup full-scroll" id="systemConfirmPopup">
    <div class="popup-container medium">
      <div class="popup-header">
        <div class="popup-title">
          <strong>팝업타이틀</strong>
        </div>
        <button type="button" class="btn-close popup-close">닫기</button>
      </div>
      <div class="popup-content">
        <div class="popup-inner">confirm 팝업</div>
      </div>
      <div class="popup-footer">
        <div class="btn-area half">
          <button type="button" class="btn btn-close popup-close">취소</button>
          <button type="button" class="btn btn-ok">완료</button>
        </div>
      </div>
    </div>
  </div>

  <!-- 내부스크롤 팝업 -->
  <div class="layer-popup" id="layerPopup01">
    <div class="popup-container medium">
      <div class="popup-header">
        <div class="popup-title">
          <strong>팝업타이틀</strong>
        </div>
        <button type="button" class="btn-close popup-close">닫기</button>
      </div>
      <div class="popup-content">
        <div class="popup-inner">
          <div style="height: 800px; background-color: #f1f1f1"></div>
        </div>
      </div>
      <div class="popup-footer">
        <div class="btn-area half">
          <button type="button" class="btn btn-close popup-close">취소</button>
          <button type="button" class="btn btn-ok">완료</button>
        </div>
      </div>
    </div>
  </div>

  <!-- 풀 스크롤 팝업 -->
  <div class="layer-popup full-scroll" id="fullScrollPopup">
    <div class="popup-container medium">
      <div class="popup-header">
        <div class="popup-title">
          <strong>팝업타이틀</strong>
        </div>
        <button type="button" class="btn-close popup-close">닫기</button>
      </div>
      <div class="popup-content">
        <div class="popup-inner">
          <div style="height: 800px; background-color: #f1f1f1"></div>
        </div>
      </div>
      <div class="popup-footer">
        <div class="btn-area half">
          <button type="button" class="btn btn-close popup-close">취소</button>
          <button type="button" class="btn btn-ok">완료</button>
        </div>
      </div>
    </div>
  </div>

</body>

<style>
  #container {
    min-height: auto;
  }

  .section-inner {
    width: 700px;
    margin: 0 auto;
  }

  @media (max-width: 900px) {
    .section-inner {
      width: 100%;
    }
  }

  .popup-list-container h1 {
    margin: 20px 0;
    text-align: center;
    font-size: 25px;
    font-weight: bold;
  }

  .popup-list-container .notice {
    margin-bottom: 20px;
    padding: 20px;
    background-color: #f1f1f1;
  }

  .popup-list-container .notice li {
    font-size: 14px;
  }

  .popup-list-container .list-type {
    padding: 8px 20px;
    font-weight: bold;
    font-size: 18px;
    text-align: center;
    background-color: #f1f1f1;
  }

  .popup-list-container .list-row {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 5px 0;
    border-top: 1px solid #ddd;
  }

  .popup-list-container .name {
    padding-left: 20px;
    font-weight: bold;
    font-size: 15px;
  }

  .popup-list-container .btn-open {
    display: block;
    margin: 10px;
    border-bottom: 1px solid #ddd;
    font-size: 15px;
    font-weight: bold;
  }
</style>

<script>
  // 팝업을 한눈에 보기위한 코드
  $(function() {
    $('#popupTypeChange').on('change', function() {
      if ($(this).prop('checked')) {
        $('.list-container').hide();
        $('.layer-popup').addClass('all-show');
      } else {
        $('.list-container').show();
        $('.layer-popup').removeClass('all-show');
      }
    });
  });
</script>

</html>